@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* 
#5277b7 - color
#5c637a - blackish
#f9f9f9 - whiteish
*/

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  padding: 10%;
}

button {
  color: #f56eb3;
  background-color: #f9f9f9;
  border: #f56eb3 1px solid;
  border-radius: 10px;
  padding: 0.3rem;
  margin: 0.3rem;
}

h1 {
  color: #f56eb3;
}

h3 {
  color: #5c637a;
}

label {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  width: 100%;
}

input[type="text"],
input[type="number"],
select {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.container {
  padding: 1rem 1rem;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f56eb3;
  border-radius: 10px;
}

.form button {
  color: #f56eb3;
  background-color: #f9f9f9;
  border-radius: 10px;
}
#nextQuestion {
  background-color: #5c637a;
  color: #f9f9f9;
  border: none !important;
  font-size: medium;
}

.form form {
  width: 80%;
  margin: 0 10%;
  display: block;
  margin-top: 10px;
  border: 0.5px dotted #f56eb3;
  padding: 10px;
}

.subQue {
  margin-left: 13% !important;
  color: #f56eb3;
  width: 30%;
}
